# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDEs
.idea/
*.swp

# Environment variables
.env
*.env
.env.test

# Database files
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/